ul{
    list-style: none;
}

#intro{
    padding-top: 5vh;
    padding-bottom: 2vh;
}
button{
    color: white;
    background-color: green;
    padding: 10px 20px;
    margin: 3vh 1vw ;
    border-radius: 7px;
}
#down{
    background-color:maroon ;
}

#details{
    background-color:transparent;
    margin-top: -3vh;
    
}
hr{
    border: solid;
    color: white;
}