<button (click)='toggleform()' class="btn btn-success">Add Quote</button>


<form #form='ngForm' *ngIf="showform" (ngSubmit)="submitQuote()">
    <div class="form-group">
      <label for="name">Your Name</label>
      <input  type="text" class="form-control" id="submittedby" name="submittedby" value="" required #name='ngModel' [(ngModel)]="submittedby" >
    </div>
    <div class="form-group">
      <label for="quote">Quote</label>
      <textarea type="textarea" class="form-control" id="quote" name="quote" rows="3" value="" required #name='ngModel' [(ngModel)]="quote"></textarea>
    </div>
    <div class="form-group">
        <label for="author">Author</label>
      <input type="text" class="form-control" id="author" name="author" value="" required #name='ngModel' [(ngModel)]="author">
    </div>
    <div class="form-group">
      <label for="date">date</label>
      <input type="date"name="date" id="date" [(ngModel)]="date" >
    </div>
    <button type="submit" class="btn btn-success">Submit</button>
  </form>
