.sidebar{
    padding-left: 2vw;
    padding-right: 1vw;
    background-color:#5cb85c;

}
p{
    color: white;
    margin-bottom: 6vh;
}
h1{
    color: white;
    padding: 10vh 2vw;
}
.content{
    
    z-index: 2;
    padding: 10vh 2vw;
    color: white;
    
    
}

.quotes{
    background-color: black;
    box-sizing: border-box;
    z-index: 0;
}