<div class="sidebar">
  <img src="https://media.istockphoto.com/photos/bubble-talk-or-comment-sign-symbol-on-yellow-background-picture-id1337229983?b=1&k=20&m=1337229983&s=170667a&w=0&h=7R6-YX8Oer-a4HBMIcuYcblezqOlec43cASqh1fqmW8=" alt="logo">
<ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Quotes</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Highlights</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li>
  </ul>
</div>

