<div class="sidebar">

  <h1 id="title" >QuoteR</h1>

  <img id="logo" src="https://images.unsplash.com/photo-1475721027785-f74eccf877e2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxzZWFyY2h8MjR8fG1pY3JvcGhvbmV8ZW58MHx8MHx8&auto=format&fit=crop&w=500&q=60" alt="logo">
<ul class="navbar-nav">
    <li class="nav-item active">
      <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
    </li><hr>
    <li class="nav-item">
      <a class="nav-link" href="#">Quotes</a>
    </li><hr>
    <li class="nav-item">
      <a class="nav-link" href="#">Highlights</a>
    </li><hr>
    <li class="nav-item">
      <a class="nav-link" href="#">Contact</a>
    </li><hr>
  </ul>
</div>

